{% extends "base.html" %}
{% block title %}Configuration{% endblock %}
{%- block head %}{{ super() }}
    <style type="text/css">
    .config_form form { display: table; }
    .config_form p { display: table-row; }
    .config_form label {
        display: table-cell;
        font-weight: bold;
    }
    .config_form input { display: table-cell; }
    </style>
{%- endblock head %}
{%- block body %}{{ super() }}
    <div class="config_form"><form method="post">
    {%- for option, value in config.items()|sort(attribute='0.name') %}
        <p>
        <label>{{ option|attr("name")|replace("_", " ")|title|e }}:</label>
        {%- if value is string -%}
            {{ value|e }}
        {%- elif option_map[option] is iterable -%} {# Should be Enum #}
            {% for poss_value in option_map[option] -%}
                <input type="radio" name="{{ option|attr("name")|e }}" value="{{ poss_value|attr("value") }}"
                {%- if value == poss_value -%}
                    {{ " " }}checked
                {%- endif -%}
                >{{ poss_value|attr("name")|replace("_", " ")|title|e }}
            {% endfor -%}
        {%- else -%} {# Should be bool #}
            <input type="checkbox" name="{{ option|attr("name")|e }}" value="1"
            {%- if value -%}
                {{ " " }}checked
            {%- endif -%}
            >
        {%- endif -%}
        </p>
    {%- endfor %}
    <p><input type="submit" value="Apply Settings"></p>
    </form></div>
{%- endblock body %}
